/.idea
/node_modules
/storage/*.key
/nova
/vendor

/public/hot
/public/storage

.env
http-client.private.env.json

*.cache
*.log
*.backup

Homestead.json
Homestead.yaml

_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

package.json

laravel-echo-server.json
laravel-echo-server.lock
